# This is Git's per-user configuration file.
[user]
	name = Philipp Windischhofer
	email = philipp.windischhofer@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
